<!DOCTYPE html>
<html>

<head>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link href='/app.css' rel='stylesheet'>
</head>

<body>
  <div class="container">
    <div class="page-heading">
      <div class="options">
        <div class="btn-toolbar">
          <a href="#" class="btn btn-default"><i class="fa fa-fw fa-cog">Heroes Squads</i></a>
        </div>
      </div>
    </div><br>
    <!-- display images -->
    <div class="row">
      <div class="col-md-2">
        <img src="http://www.asahidojo.org/sito/wp-content/uploads/2013/03/Ninja1.jpg" style="height: 200px; width:150px">
      </div>
      <div class="col-md-2">
        <img src="http://www.glasgowkarate.net/wp-content/uploads/bfi_thumb/Karate_04-1024x686-980x610-2z9rt6l25kmyvumc7p7ymi.jpg" style="height: 200px; width:150px">
      </div>
      <div class="col-md-2">
        <img src="https://i.ytimg.com/vi/FkbMWchGab4/maxresdefault.jpg" style="height: 200px; width:150px">
      </div>
      <div class="col-md-2">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/5f/c9/43/5fc943b6f461cb82ea5e906be8e99964.jpg" style="height: 200px; width:150px">
      </div>
      <div class="col-md-2">
        <img src="https://listsurge.com/wp-content/uploads/2015/09/fight1.jpg" style="height: 200px; width:150px">
      </div>
      <div class="col-md-2">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/4c/d9/9a/4cd99adb9fe1515ae91193c757c353f5.jpg" style="height: 200px; width:100%">
      </div>
    </div>
    <!--end of row-->
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <a class="info-tiles tiles-inverse has-footer" href="/squads">
            <div class="tiles-heading">
              <div class="pull-left">Squads</div>
              <div class="pull-right">
                <div id="tileorders" class="sparkline-block"><canvas width="39" height="13" style="display: inline-block; width: 39px; height: 13px; vertical-align: top;"></canvas></div>
              </div>
            </div>
            <div class="tiles-body">
              <div class="text-center">Squads</div>
            </div>

          </a>
        </div>

        <div class="col-md-3">
          <a class="info-tiles tiles-green has-footer" href="squads/new">
            <div class="tiles-heading">
              <div class="pull-left">More</div>
              <div class="pull-right">
                <div id="tilerevenues" class="sparkline-block"><canvas width="40" height="13" style="display: inline-block; width: 40px; height: 13px; vertical-align: top;"></canvas></div>
              </div>
            </div>
            <div class="tiles-body">
              <div class="text-center">Add</div>
            </div>

          </a>
        </div>

        <div class="col-md-3">
          <a class="info-tiles tiles-blue has-footer" href="/squads">
            <div class="tiles-heading">
              <div class="pull-left">View</div>
              <div class="pull-right">
                <div id="tiletickets" class="sparkline-block"><canvas width="13" height="13" style="display: inline-block; width: 13px; height: 13px; vertical-align: top;"></canvas></div>
              </div>
            </div>
            <div class="tiles-body">
              <div class="text-center">Heroes</div>
            </div>

          </a>
        </div>

        <div class="col-md-3">
          <a class="info-tiles tiles-midnightblue has-footer" href="/search">
            <div class="tiles-heading">
              <div class="pull-left">Filter</div>
              <div class="pull-right">
                <div id="tilemembers" class="sparkline-block"><canvas width="39" height="13" style="display: inline-block; width: 39px; height: 13px; vertical-align: top;"></canvas></div>
              </div>
            </div>
            <div class="tiles-body">
              <div class="text-center">Search</div>
            </div>

          </a>
        </div>
      </div>

      <div>
        #parse( $template)
      </div>
</body>

</html>
